// Font families
$default-font-family: 'Roboto Condensed', sans-serif;

// Font sizes
$font-xxs: 13px;
$font-xs: 14px;
$font-sm: 15px;
$font-md: 16px;
$font-lg: 24px;
$font-xl: 28px;
$font-xxl: 32px;

$header-height: 64px;
