# Ignore everything
/*

# Make sure production files are ignored
dist/
public/

# Do not ignore the following files
!.github/
!src/
!README.md

# Re-ignore sub-directories from the above exempt directories:
.github/CODEOWNERS
