<footer>
  <a href="https://www.ProAngular.com" target="_blank">
    <img
      src="https://www.proangular.com/images/pro-angular-logo-large.png"
      alt="Pro Angular Logo"
    />
  </a>
  <p>
    Copyright &copy; Pro Angular 2022
    {{ currentYear > 2022 ? ' - ' + currentYear : '' }}
  </p>
  <p>
    Pro Angular is not affiliated, associated, authorized, endorsed by, or in
    any way officially connected with Angular, or any of its subsidiaries or its
    affiliates.
    <br />
    The official Angular website can be found at
    <a href="https://angular.io/" rel="nofollow noreferrer" target="_blank"
      >https://angular.io/</a
    >. The names Angular as well as related names, marks, emblems and images are
    registered trademarks of their respective owners.
  </p>
</footer>
