<mat-toolbar>
  <mat-toolbar-row>
    <a href="https://www.ProAngular.com" target="_blank">
      <img
        src="https://www.proangular.com/images/pro-angular-logo-full.png"
        alt="Pro Angular Logo"
      />
    </a>
    <div>
      <a
        href="https://github.com/ProAngular/ngx-gist"
        aria-label="GitHub Repo"
        target="_blank"
      >
        <img
          src="https://www.proangular.com/images/git-hub.svg"
          alt="GitHub Logo"
        />
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
