:host {
  position: fixed;
  transition: all 0.1s ease-in-out;
}

div.content {
  align-content: center;
  align-items: center;
  border-radius: 50%;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: inherit;
  justify-content: center;
  overflow: hidden;
}

div.content,
div.content > * {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

button {
  border-radius: 50%;
  border: none;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-size: inherit;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;
}

button,
button > svg {
  height: 100%;
  width: 100%;
}

svg.default-content {
  left: 0;
  position: absolute;
  top: 0;
}

button.idle {
  opacity: 0;
}
