:host {
  position: fixed;
  transition: all 0.1s ease-in-out;
}

div.content {
  font-size: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

div.content,
div.content > * {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

button {
  font-size: inherit;
  overflow: hidden;
  display: inline-block;
  position: relative;
  transition: all 0.1s ease-in-out;
  color: inherit;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  flex-shrink: 0;
}

button,
button > svg {
  width: 100%;
  height: 100%;
}

svg.default-content {
  position: absolute;
  top: 0;
  left: 0;
}
