# npmjs Package Deployment
# https://docs.npmjs.com/about-packages-and-modules

name: Verify and Deploy to npmjs
on:
  push:
    branches:
      - main
jobs:
  deploy_npmjs_package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm cache clean -f
      - run: npm install npm@latest -g
      - run: npm ci
      - run: npm config set registry http://registry.npmjs.org
      - run: npm run npm-build-package
      - run: cd dist/npm && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
